/* Global Styles - apply to the entire document */
*{
    /* remove default margins and padding */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* include padding and border in element's total width and height - without this container gets stretched */
}

/* Body Styles */
body{
    font-family: "Poppins", sans-serif; /* set default font */
    background-color: #f5f5f5; /* light grey background color */
    color: #333; /* dark grey text color for better readability */
    line-height: 1.6; /* increase line height for better readability */
}

/* container styles */
.container{
    max-width: 1200px; /* limit container width */ /* why - to prevent content from stretching too wide on large screens */
    margin: 0 auto;/* center container - first value is for top/bottom, second is for left/right*/
    padding: 0 20px; /* horizontal padding */
    /*margin - outside spacing
    padding - inside spacing */
}

header{
    background-color: #0e3959; /* blue background color */
    color: white; /* white text color */
    padding: 20px 0; /* vertical padding */
    position: sticky; /* make header stick to top on scroll */ /* why not fixed? - because sticky allows scrolling with the content while fixed stays on top always */
    top: 0; /* stick to top */
    z-index: 1000; /* ensure header is above other content */
}


nav{
    display: flex; /* use flexbox for layout */ /* what does flexbox do? - it allows easy alignment and distribution of space among items in a container */
    justify-content: space-between; /* center nav links horizontally */ 
    align-items: center; /* center nav links vertically */
}
header nav ul{
    list-style: none; /* remove default list styling */
    display: flex; /* use flexbox for horizontal layout */
    gap: 20px; /* space between nav links */ /*gap vs justify-content? - gap defines space between items, justify-content defines alignment of items within the container */
}
header nav a{
    color: white; /* white link color */
    font-weight: 500; /* medium font weight */
    text-decoration: none; /* remove underline from links */
}
header nav a:hover{
    color: #ffca28; /* yellow color on hover */
}
/* Section styles */
#home{
    position: relative; /*for positioning overlay and video*/
    height: 90vh; /* this sets the height of the home section to 90% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    color:#f5f5f5;
    text-align: center;
    overflow: hidden; /* hide overflow to prevent scrollbars from video */
}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* full width */
    height: 100%;
    object-fit: cover; /* cover entire area without distortion */
    z-index: -1; /* place video behind other content */
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* semi-transparent overlay for better text visibility */
    z-index: 0; /* place overlay above video but below text */
}

.home-content{
    position: relative; /* position relative to parent */
    z-index: 1; /* place content above overlay and video */
    text-align: center;
    max-width:800px;
}

.home-content h2{
    font-size: 3rem; /* large heading */ /* why 3rem? - rem is relative to the root font size, making it scalable for different devices 1rem=16px */
    margin-bottom: 15px; /* space below heading */
}
.home-content p{
    font-size: 1.3rem; /* larger paragraph text */
    margin-bottom: 25px; /* space below paragraph */
}
.home-content .btn{
    
    padding: 12px 25px; /* button padding */
    background-color: #ffca28; /* yellow background color */
    color: #0e3959; /* blue text color */
    text-decoration: none; /* remove underline */
    font-weight: 600; /* bold font weight */
    border-radius: 5px; /* rounded corners */
    transition: 0.3s; /* smooth transition for hover effect */
}

.home-content .btn:hover{
    background-color: #fff; /* darker yellow on hover */
    color: #0e3959; /* white text on hover */
}

/* destination Styles */
section{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

section .container{
    padding: 0 20px; /* vertical padding for sections */
    max-width: 1200px; /* limit container width */
    width: 100%; /* full width */
}

#destinations{
    padding: 80px 0; /* vertical padding */
    text-align: center;
}

.destinations-heading{
    
    color:#222; /* blue color */
    margin-bottom:40px; /* space below heading */
    font-size: 2.3rem; /* large font size */
}

.destinations-grid{
    display: grid; /* use grid layout */ /* why grid? - grid allows for more complex layouts with rows and columns, flex is 1 direction */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* responsive grid columns */
    gap: 20px; /* space between destination cards */
    justify-content: center; /* center grid items */
}
.destination-card{
    background-color:white; /* white background color */
    border-radius: 10px;
    overflow: hidden; /* hide overflow for rounded corners */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* subtle shadow */  
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth transition */
}
.destination-card img{
    width: 100%; /* full width image */
    height: 220px; /* fixed height for images */
    object-fit: cover; /* cover entire area without distortion */   
}
.destination-card h3{
    padding: 15px; /* padding around title */
    font-size: 1.5rem; /* medium font size */
    color:#0e3959; /* blue color */
    background: #fff;
}

.destination-card:hover{
    transform: translateY(-5px); /* lift card on hover */
    box-shadow: 0 6px 15px rgba(0,0,0,0.15); /* stronger shadow on hover */
}   

/* Packages Section */
#packages{
    padding:80px 0;
}
#packages h2{
    text-align: center;
    color:#222;
    font-size: 2.2rem;
    margin-bottom: 40px;
}

.packages-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(270px,1fr));
    gap: 20px;
    justify-content:center;
}

.package-card{
    background-color:#f5f5f5;
    border-radius:10px;
    text-align: center;
    overflow:hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition:transform 0.3s ease, box-shadow 0.3s ease;
    height:350px;
}
.package-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}
.package-card h3{
    color:#0e3959;
    padding:10px 0px;
    font-size:1.2rem;
}
.package-card p{
    font-size:0.85rem;
    padding: 0 10px 10px;
    color:#0e3969;
}

.package-card .price{
    padding:10px 20px;
    background:#0e3959;
    color:#f5f5f5;
    font-size:xx-small;
    font-weight:600;
    cursor:pointer;
    transition:transform 0.3s ease, background 0.3s ease;
    border-radius: 5px;
    border:none;
    display:inline-block;
}
.package-card:hover{
    
    transform:translateY(-5px);
}
.package-card .price:hover{
    color:#0e3959;
    background-color:#ffca28;
    transform:scale(1.1);
}
/*Testimonials Section */
#testimonials{
    padding:80px 0;
    
}

#testimonials h2{
    text-align: center;
    color:#0e3959;
    margin-bottom:20px;
    font-size:2rem;
}

.testimonials-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(270px,1fr));
    gap:20px;
    margin-bottom:20px;
}

.testimonial-card{
    display:inline-block;
    color:#0e3959;
    text-align:center;
}

.testimonial-card .quote{
    color:#ffca28;
}

.testimonial-card p{
    font-style:italic;
    font-weight:200;
}

.testimonial-card span{
    
    text-align:center;
    font-weight:bold;
}

/*Book Now section*/
#booknow{
    padding:50px 0;
    color:#0e3959;
    background: color #f9f9f9;
}

#booknow h2{
    font-size:2rem;
    margin: 20px 0px;
    text-align:center;
}

#booknow p{
    margin:30px;
    color:#0e3959;
    text-align:center;
}

form{
    max-width: 600px;
    margin:auto;
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

form input,form select, form textarea {
    width:100%;
    padding:10px;
    border-radius:5px;
    margin-bottom:15px;
    border: 1px solid #ccc;
    background:white;
    color:#787676;
}

form button{
    background:#0e3959;
    color:#fff;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
    border:none;
}

form button:hover{
    background:#ffca28;
    color:#0e3959;
}
/* Footer styles */
footer{
    background-color: #0e3959; /* blue background color */
    color: white; /* white text color */
    
    padding: 40px 0 0; /* vertical padding */
    margin-top: 40px; /* space above footer */
}

footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
   gap:20px;
   max-width:1200px;
}

.about h3{
    font-weight:bold;
    padding:15px 0;
}

.about p{
    font-size:15px;
    margin-bottom:15px;
}

.quicklink h3{
    font-weight:bold;
    padding:15px 0;
}
.quicklink ul{
    list-style:none;
    line-height: 2;
}

.quicklink ul a{
    text-decoration:none;
    color:#f5f5f5;
}

.contact h3{
    font-weight:bold;
    padding:15px 0;
}

.contact p{
    line-height:2;
}

.findus h3{
    font-weight:bold;
    padding:15px 0;
}

.findus iframe{
    border-radius:5px;
    width:100%;
    height:200px;
    border:none;
}

.footer-bottom{
    text-align:center;
    background-color:#092940;
    padding:20px 0;
    margin-top:20px;
    font-size:0.9rem;
}

/* Responsive design */
@media (max-width:992px){
    .destination-card img,
    .package img{
        height: 180px;
    }
}

@media (max-width:768px){
    nav ul {
        flex-wrap:wrap;
        justify-content:center;
    }

    .home-content h2 {
        font-size:2.2rem;
    }
}